* { 
	padding:0px;
	margin:0px; 
}
*:focus { 
	outline:none; 
}
body { 
	background:#ffcc66;
	padding:10px; 
}
label { 
	display:inline-block;
	width:230px; 
}
.inset { 
	background:#9ACD32;
	border:2px inset gray;
	border-radius:10px;
	padding:10px; 
}
.tmlogo { 
	font-variant:small-caps; 
}
.totalpods { 
	border:2px inset black;
	border-radius:5px;
	display:none;
	font-size:1.1em;
	padding:8px; 
}
#numbersolarpods { 
	font-weight:bold;
	font-size:1.1em; 
}
