#ie-is-evil {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: #fddb33;
  z-index: 1000;
}

#ie-is-evil p {
  padding-top: 1rem;
}

#ie-is-evil a {
  background: #000000;
  color: #ffffff;
  border: 4px solid #ffffff;
  margin: 12px;
  padding: 12px;
}