.blue42footer .contact-us {
  font-size: 28px;
}
.blue42footer p {
  color: #fff;
  margin-bottom: 0px;
}
.blue42footer p span {
  font-size: 10px;
}
.blue42footer p span a {
  color: #567;
}
.blue42footer p span a img {
  width: 20px;
  height: 24px;
  margin: 0px 5px;
  background: #046;
  border-radius: 4px;
  padding: 2px
}